<section id="about">

	<% cache do %>
  <% sleep 2 %>
  <h1>Hello World!</h1>
<% end %>




    <div class="header">
        <h1>About US</h1>
        <p>All what you need to be a fashionesta ! </p>
    </div>
</section>