<section id="contact">
    <h1>Contact Me</h1>
    <h2>Some information that can help </h2>
    <ul>
      <li>Email : ibtesam.dh2@gmail.com</li>
      <li>Phone : 00970598457427</li>
      <li>Address : Palestine - Gaza</li>
    </ul>
</section>

