<section id="contact">
    <div class="header">
        <h1>Contact Us</h1>
    </div>

    <ul class="social-media">
      <li>Email : ibtesam.dh2@gmail.com</li>
      <li>Phone : 00970598457427</li>
      <li>Address : Palestine - Gaza</li>
    </ul>
</section>

