<section class="container-fluid" id="home">
    <h1>Welcome to Web Development World</h1>
    <h2>Your source for creating Websites</h2>

    <%= image_tag("PC.jpg", class: "img-responsive my-image") %>
</section>