<section class="container-fluid" id="home">
    <div class="header">
        <h1>IBTE Fashion Store</h1>
        <h2>Your Store of Fashion</h2>
    </div>

    <%= image_tag("home.jpg", class: "img-responsive center-block") %>
</section>