<section class="container-fluid" id="home">
    <div class="header">
        <h1>IBTE Company</h1>
        <h2>Your Source of Cameras</h2>
    </div>

    <%= image_tag("camera.jpg", class: "img-responsive my-image") %>
</section>