<body style="width: 100%;background-color: #e7e7e7;margin: 0;">
  <table style="width: 100%;background-color: #d1690f;height: 100%;margin: 0 0px;margin-right: 20px;">
  <tr>
    <td> 
      <p style="color: #000;text-align: center;font-weight: 300px;">Thank you for ordering our <%=@product.name%> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: #000;text-align: center;font-weight: 300px;">Your order should arrive in 7-10 days.  Please come back and leave a comment.</p>
    </td>
  </tr>
  </table>
</body>