<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<div class="panel panel-default">
  				<div class="panel-body">
    				<p>Thank you for your purchase</p>
    				<p> Be sure to leave us a <%=link_to 'comment', product_path(@product)%>. </p>
                    <p>  Browse through our other <%= link_to 'products!', products_path %> </p>

  				</div><!-- / panel-body -->
			</div><!-- / panel -->
		</div>
		<div class="col-md-2"></div>
	</div>
</div>