// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-review {
	color: #ce6a3c;
	text-transform: uppercase;
	font-wight: bold;
}

.pagination a, 
.pagination span {
    padding: 5px;
    border-radius: 5px;
    background-color: #ac7755;
    color: #fff;
}

.pagination .current {
    padding: 5px;
    border-radius: 5px;
    background-color: #ce6a3c;
    color: #fff;
}

.new_comment {
	margin-top: 20px;
}