// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    font-family: Spirax, sans-serif;
    color: #c55f1f;
    text-align: center;
    padding: 30px 0  20px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color : #ac7755;
    font-family:    Spirax  , sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.navbar-default .navbar-nav > li > a{
    color : #ac7755;
    font-family:  Itim , sans-serif;
    font-size: 17px;
    -webkit-transition: color .5s;
            transition: color .5s;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover {
    color: #ce6a3c;
}

.btn-primary {
    background-color: #ac7755;
    border-color: #ac7755;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: #ce6a3c;
    border-color: #ce6a3c;
}




/*site footer*/

.site-footer {
    color: #730E15;
    background-color: #e7e7e7;
    padding: 20px 15px;
}

.site-footer .fa {
    font-size: 1.5em;
    -webkit-transition: color .5s;
            transition: color .5s;

}

.site-footer .fa:hover {
    color: #730e15b3;
}


#home {
    text-align: center;
    padding-top: 20px;
    padding-left:0;
    padding-right: 0;
}

#contact,
#about {
    text-align: center;
    background-color: antiquewhite;
    padding: 15px 0;
}


/* Thumbnail */

.thumbnail .caption h3 {
    font-family: Itim;
    margin-bottom: 25px;
    font-weight: 600;

}

.thumbnail a>img,
.thumbnail>img {
    height: 250px;
    min-width: 100%;
} 

/* Carousel */

/*
.carousel {
    margin-left: -15px;
    margin-right: -15px;
}
*/

.carousel-caption {
    bottom: 33%;
    background-color: rgba(155, 159, 168, 0.41);
    width: 41%;
    margin: 0 auto;
}


.carousel-caption h3 {
    font-family: 'Tangerine', serif;
    font-size: 3.5em;
    color: #000;
    letter-spacing: 3px;
    font-weight: bold;
}

.carousel-indicators .active {
    background-color: #730E15;
}

.carousel-indicators li {
    border-color: #730E15;
    border-radius: 0;
}

.carousel-inner > .item > a > img{
    width: 100%;
    height: 700px;
}

/*@media*/
@media (max-width: 480px) {

    .carousel-caption h3 {
        font-size: 2em;
    }

    .carousel-caption {
        width: 50%;
        padding-bottom: 0;
        padding-top: 0;
        bottom: 35%;
    }

  .carousel-inner > .item > a > img {
      height: 300px;
  }

}    


